<section>
  <ul class="img-list">
    <li class="img-item">
      <p>path ../img</p>
      <img src="../img/vite-logo.png" alt="" width="150" />
    </li>
    <li class="img-item">
      <p>path ./img</p>
      <img src="./img/vite-logo.png" alt="" width="150" />
    </li>
    <li class="img-item">
      <p>path img</p>
      <img src="img/vite-logo.png" alt="" width="150" />
    </li>
    <li class="img-item">
      <p>path /img</p>
      <img src="/img/vite-logo.png" alt="" width="150" />
    </li>
  </ul>

  <ul class="img-list">
    <li class="img-item">
      <p>path ../img</p>
      <div class="img-background"></div>
    </li>
    <li class="img-item">
      <p>path ./img</p>
      <div class="img-background"></div>
    </li>
    <li class="img-item">
      <p>path img</p>
      <div class="img-background"></div>
    </li>
    <li class="img-item">
      <p>path /img</p>
      <div class="img-background"></div>
    </li>
  </ul>
</section>
