.img-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.img-background {
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-item:nth-child(1) .img-background {
  background-image: url(../img/vite-logo.png);
}
.img-item:nth-child(2) .img-background {
  background-image: url(./img/vite-logo.png);
}
.img-item:nth-child(3) .img-background {
  background-image: url(img/vite-logo.png);
}
.img-item:nth-child(4) .img-background {
  background-image: url(/img/vite-logo.png);
}
